@model Arrival
@{ Layout = "_Layout"; ViewBag.Title = "Add Arrival Reservation"; }

<h2>Add a Reservation <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddArrivalReservation" method="post">
    <div class="form-group">
        <label for="AirportCode">Airport Code:</label>
        <input class="form-control" name="AirportCode" />
    </div>
    <div class="form-group">
        <label for="RouteNum">Route Number:</label>
        <input class="form-control" name="RouteNum" />
    </div>
    <div class="form-group">
        <label for="LegNum">Leg ID:</label>
        <input class="form-control" name="LegNum" />
    </div>
    <div class="form-group">
        <label for="Date">Arrival Date:</label>
        <input class="form-control" name="Date" />
    </div>
    <div class="form-group">
        <label for="ScheduleArrTime">Arrival Time:</label>
        <input class="form-control" name="ScheduleArrTime" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Reservation</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Airport</th>
                <th>Route Number</th>
                <th>Leg ID</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AirportCode</td>
                <td>@Model.RouteNum</td>
                <td>@Model.LegNum</td>
                <td>@Model.Date</td>
                <td>@Model.ScheduleArrTime</td>
            </tr>
        </tbody>
    </table>
}